---
layout: default
---

<div class="container home-container">
  <!-- Intro paragraph only -->
  <p class="home-intro">
    Hello, I’m Harsh Nahar. Welcome to my little corner of the web - where I share thoughts, visuals, and what’s on my nightstand.
  </p>

  <!-- Left-aligned list of links -->
  <ul class="home-links">
    <li>
      <a href="{{ '/blog/' | relative_url }}" class="link">blog</a>
    </li>
    <li>
      <a href="{{ '/gallery/' | relative_url }}" class="link">photography</a>
    </li>
    <li>
      <a href="{{ '/tools/' | relative_url }}" class="link">fun-stuff</a>
    </li>
      <a href="https://www.goodreads.com/book/show/222717408-shattered-lands" class="link"
         target="_blank" rel="noopener noreferrer">
        reading: <em>Shattered Lands: Five Partitions and the Making of Modern Asia</em>
      </a>
    </li>
  </ul>
</div>





